<!--
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="">Services</a></li>
    <li><a href="">Contac</a></li>
    <li><a href="">About</a></li>
</ul>
-->
<nav class="navbar navbar-dark bg-dark mb-4">
    <div class="container">
        <a href="/" class="navbar-brand">CRUD Mongo y NodeJS</a>
    </div>
</nav>